@model Result

<div class="text-center">
    <h1 class="display-4">@Model.name</h1>
    <div class="table-responsive-sm">
        <table class="table">
            <tbody>
                <tr>
                    <td class="p-0"><img src="@Model.images.w480" alt="Product image" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>